/****** General Custom ******/
* {
    box-sizing: border-box;
    margin: 0px;
    color: var(--clr-light);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}
.section {
    background-color: #000000bd;

    &__title {
        margin: 0px;
        color: var(--clr-light);
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.5rem;
        padding: 1rem 0;
        text-transform: uppercase;
        border-bottom: 1px solid var(--clr-light);
    }
}

/****** Main Container ******/
html{
    scroll-behavior: smooth;
}
body {
    margin-top: 20px;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-normal);
}
