/****** General Custom ******/
* {
    margin: 0px;
    color: $background-color-primary;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: 500;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
.my-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.my-row{
    display: flex;
    flex-wrap: wrap;
}
.section {
    background-color: #000000bd;
}

/****** Main Container ******/
body {
    min-width: 320px;
    margin-top: 20px;
    font-family: $font-secondary;
    font-weight: 300;
}
