
/****** Media Queries ******/
@media (min-width: $breakpoint-laptop) {
    #releases {
        width: 50%;
        float: left;
    }
    #releases .section-body {
        min-height: 620px;
    }
    #releases .section-body ul {
        display: contents;
    }
    #podcast {
        width: 50%;
        float: left;
        min-height: 500px;
    }
    #labels {
        max-width: 50%;
        float: left;
        padding-bottom: 0px;
    }
  }
