@import '0-plugins/0-plugins';
@import '1-helpers/1-helpers';
@import '2-base/2-base';
@import '3-layout/3-layout';
@import '4-modules/4-modules';
@import '5-templates/5-templates';

/* Order of properties
    1. Display
    2. Position
    3. Size/Shape
    4. Design
         I. Box-design
        II. Font-design
    5. Child's Layout
    6. Animation
 */


/****** FAB - Floating Actin Button ******/
#FAB {
    position: fixed;
    bottom: 38px;
    right: 25px;
    z-index: 10;
    height: 70px;
    width: 70px;
    border: solid 1px #0f0f0f;
    border-radius: 9%;
    transform: rotate(-45deg);
    animation-name: FABanimation;
}
#FAB i {
    color: #1d1d1d;
    transform: rotate(45deg);
    animation-name: FABiconanimation;
}
/****** Modal ******/
.modal-container {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background-color: #1d1d1dbf;
    pointer-events: none;
}
#my-modal {
    display: none;
    position: relative;
    top: 2%;
    /* height: 360px; */
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 3%;
    background-color: #ffffff;
    box-shadow: black 0px 0px 70px 40px;
    color: darkslategray;
}
.modal-content {
    border: none;
}
.modal-title, .modal-title+button span {
    color: black;
}
#my-modal form label {
    color: black;
}
.modal-footer {
    border: none;
}

/****** Media Queries ******/
@media (min-width: $breakpoint-laptop) {
    #releases {
        width: 50%;
        float: left;
    }
    #releases .section-body {
        min-height: 620px;
    }
    #releases .section-body ul {
        display: contents;
    }
    #podcast {
        width: 50%;
        float: left;
        min-height: 500px;
    }
    #labels {
        max-width: 50%;
        float: left;
        padding-bottom: 0px;
    }
  }
