/****** Home ******/
.home {
    height: var(--site-content-height);
    margin-top: var(--navbar-min-height);
    background-color: black;

    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 17em min-content;
    grid-row-gap: 2em;
    justify-content: center;
    justify-items: center;
    
    &__content {
        display: flex;
        height: 10em;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
            align-self: end;
        }
        &:nth-child(2) {
            align-self: baseline;
        }
    }

    &__image {
        &--circle-of-life {
            width: 9em;
            border-radius: 50%;
            box-shadow: rgba(130, 71, 232, 0.5) 0px 0px 9px 4px
        }
    }
}