/****** Releases ******/
.releases {
    border-top: 1px solid var(--clr-light);
    background: var(--clr-dark-secondary);
    
    &__title {
        @extend %section-title;
    }

    &__list {
        padding: 0px 1.5em;

        display: flex; //provisorio
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img title"
            "img info"
            "media media";

        max-width: 400px; //provisorio
    }

    &__item-img {
        grid-area: img;
        flex-basis: 100%;
        height: 9em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__item-title {
        grid-area: title;
    }

    &__item-info {
        grid-area: info;
    }
}

.img-container-01 {
    background-image: url("../../../build/images/release-cover-downtempo-grooves.jpeg");
    /* background-color: #424242; */
}
.img-container-02 {
    background-image: url("../../../build/images/release-cover-three-of-a-kind.jpeg");
    /* background-color: #424242; */
}

.music-player {
    grid-area: media;
    display: flex;
    width: 100%;
    border-radius: 26px;
    box-shadow: rgba(0,0,0,.5) 0 5px 5px;

    &__controls {
        width: 100%;
    }
}

/****** Circle Of Life ******/
.podcast {
    border-top: 1px solid white;
    background: var(--clr-dark-secondary);

    &__title {
        @extend %section-title;
    }

    &__body {
        flex-direction: column;
        min-height: var(--section-min-height);
        align-content: center;
        justify-content: space-evenly;
    }

    &__body-title {
        font-size: 1.3rem;
    }

    &__player-container {
        max-width: 20em;
    }
}

/****** Labels ******/
.labels {
    margin-bottom: var(--footer-min-height); /* to float over the bottom bar */
    padding-bottom: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: var(--clr-dark-secondary);

    &__title {
        @extend %section-title;
    }
    
    &__body {
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1.5em;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        height: 6.5em;
        width: 100%;
        max-width: 20em;
        margin: 1em 0;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ffffff;
        background-position: center center;

        &:hover {
            opacity: 0.8;
        }

        &--avenue {
            background-image: url("../../../build/images/logo-3rd-avenue-02.jpg");
            background-size: 70%;
        }

        &--purr {
            background-image: url("../../../build/images/logo-the-purr-01.png");
            background-size: 70%;
        }

        &--flug-lab {
            background-image: url("../../../build/images/logo-flug-lab-01.png");
            background-size: 32%;
        }
    }
}