
/****** Bio ******/
#bio {

}

#bio div.my-row {
    margin-bottom: 15px;
    background-image: url("../images/background-img-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    background-position: center center;
    justify-content: space-evenly;
}
.bio-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 96%;
    padding: 10px 55px;
    background-color: #0000005e;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    line-height: 30px;
    text-align: center;
}
.bio-container hr {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-top: 1px solid rgb(255, 255, 255); 
}
