/****** Bio ******/
.bio {
    display: flex;
    flex-direction: column;
    background-color: #5E5E5E;

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-height: $site-content-height;
        align-self: center;
        align-items: center;
        justify-content: space-evenly;
        line-height: 1.6em;
        text-align: center;
    }
    &__image {
        position: relative;
        max-width: 100%;
        border-top: white solid 1px;
        border-bottom: white solid 1px;
    }

    &__body {
        padding: 0 3em;
    }
}