/****** Home ******/
.home {
    height: $site-content-height;
    margin-top: $navbar-min-height;
    background-color: black;
    padding-top: 8em;
    flex-direction: column;
    
    &__content {
        height: 10em;
        justify-content: center;
        align-items: center;
    }

    &__image {
        position: absolute;
        width: 50%;
        align-self: center;

        &--circle-of-life {
            width: 10em;
            // transform: translateY(-30px);
        }
    }
}