/****** Modal ******/
.modal-container {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background-color: #1d1d1dbf;
    pointer-events: none;
}
#my-modal {
    display: none;
    position: relative;
    top: 2%;
    /* height: 360px; */
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 3%;
    background-color: #ffffff;
    box-shadow: black 0px 0px 70px 40px;
    color: darkslategray;
}
.modal-content {
    border: none;
}
.modal-title, .modal-title+button span {
    color: black;
}
#my-modal form label {
    color: black;
}
.modal-footer {
    border: none;
}
