/****** FAB - Floating Actin Button ******/
#FAB {
    position: fixed;
    bottom: 38px;
    right: 25px;
    z-index: 10;
    height: 70px;
    width: 70px;
    border: solid 1px #0f0f0f;
    border-radius: 9%;
    transform: rotate(-45deg);
    animation-name: FABanimation;
}
#FAB i {
    color: #1d1d1d;
    transform: rotate(45deg);
    animation-name: FABiconanimation;
}