
// Variables
    // elements sizes
        // container
        $container-width: 300px;
        $container-height: 75px;
        // separador
        $separador-height: 10px;
        // centro
        $centro-width: 1px;
        $centro-height: 1px;
        // side
        $side-bar-width: 3px;
        $side-ajuste-posicion: 15px;
        // content size
        $content-width: 300px;
        $content-height: 75px;

    // animation settings
        // centro fase Background
        $faseBackground-timing-fuction: ease-in-out;
        $faseBackground-animation-duration: 2.5s;
        // side fase Zero
        $faseZero-duration: 0.5s;
        // side fase I
        $side-timing-function: cubic-bezier(.99,0,0,.99); 
        // openIn
        $openIn-timing-function: cubic-bezier(1,0,.24,1.07); 
        $openIn-duration: 2s;
    
// Animations
    // Centro Background - el void del principio
    @keyframes faseBackground {
        0%      { box-shadow: white 0px 0px 600px 1000px; }
        100%    { box-shadow: white 0px 0px 1px 1px; }
    }
    // Side Fase Zero - crecimiento de la barra central
    @keyframes faseZero {
        0%      { height: 0; }
        20%     { height: $content-height; }
        100%    { height: $content-height; }
    }
    // Side Fase I - apertura de la animacion
    @keyframes faseILeft {
        0% 		{ left: 50%; }
        20% 	{ left: 50%; }
        100% 	{ left: (($container-width - $content-width)/ 2 ) - $side-ajuste-posicion; }
    }
    @keyframes faseIRight {
        0% 		{ right: 50%; }
        20% 	{ right: 50%; }
        100% 	{ right: (($container-width - $content-width)/ 2 ) - $side-ajuste-posicion; }
    }
    // openIn Fase I - entrada del contenido
    @keyframes openIn {
        0%      { clip-path: inset(($content-width / 2)); }
        20%     { clip-path: inset(($content-width / 2)); }
        100%    { clip-path: inset(0 0 0 0); }
    }

// Animations Settings
    // Centro
    @mixin centroAnimation($animation, $time){
        animation: $animation $time forwards;
        animation-timing-function: $faseBackground-timing-fuction;
    }
    // Side
    @mixin sideAnimation($anim) {
        animation: faseZero, $anim, faseZero;
        animation-fill-mode: forwards;
        animation-direction: normal, normal, reverse;
        animation-delay: $faseBackground-animation-duration, $faseBackground-animation-duration, $faseBackground-animation-duration + $faseZero-duration;
        animation-timing-function: $side-timing-function;
        animation-duration: $openIn-duration;
    }
    // openIn del content (manipulado por JS)
    @mixin openIn {
        animation: openIn forwards;
        animation-delay: $faseBackground-animation-duration;
        animation-timing-function: $openIn-timing-function;
        animation-duration: $openIn-duration;
    }

// Elements Design
    // Separador
    // .separador { height:$separador-height; }
    // Containers
    @mixin container($background-color, $top) {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $container-width;
        height: $container-height;
        z-index: 1;
        overflow: hidden;
        background-color: $background-color;
        top: $top;
    }
    // Centros
    @mixin centroDesign {
        width: $centro-width;
        height: $centro-height;
        background-color: white;
        border-radius: 50%;
        box-shadow: white 0px 0px 200px 1000px;
    }
    // Sides  -  Lados derecho e izq de la caja
    @mixin sideDesign{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: $side-bar-width;
        background-color: white;
        z-index: 1;
    }
    // Content - Elemento que aparece con la animacion
    @mixin content {
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        clip-path: inset(50%);
        height: $content-height;
        width: $content-width;
    }
// Producto
    .animation__container { @include container(transparent, auto);}
    .animation__centro {
        // Diseno
        @include centroDesign;
        // Animacion
        @include centroAnimation(faseBackground, $faseBackground-animation-duration);
    }
    .animation__centro::before,
    .animation__centro::after  { @include sideDesign; }
    .animation__centro::before { @include sideAnimation(faseILeft); }
    .animation__centro::after  { @include sideAnimation(faseIRight);}
    .animation__content {
        // Diseno
        @include content;
        // Animacion
        @include openIn;
    }
