// :root {
//     --breakpoint-desktop: 1200px;
//     --breakpoint-laptop: 950px;
//     --breakpoint-tablet: 768px;
//     --breakpoint-mobile: 400px;
// }

$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
