
// ************************
//  Font
// ************************
$font-primary: Roboto, 'Archivo', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// ************************
// Colors
// ************************
// Whites
$background-color-primary: white; 

// Blacks

// Modal
$modal-main-color: #8247e8;

// Complementaries
$complementary-color: #8247e8;

// ************************
// Sizes
// ************************
$navbar-min-height: 60px;
$footer-min-height: 60px;

$section-min-height: calc(100vh - 60px - 71px - 60px);

$site-content-height: calc(100vh - 60px - 60px);

// ************************
// Breakpoints
// ************************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
