:root {
    --clr-primary: hsl(282, 41%, 52%);
    --clr-secondary: hsl(262, 78%, 59%);
    --clr-dark: #0C0E36;
    --clr-dark-secondary: #313131;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --ff-primary: Roboto, 'Archivo', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;

    // ************************
    // Sizes
    // ************************
    --navbar-min-height: 3.75em;
    --footer-min-height: 3.75em;
    --section-min-height: calc(100vh - 3.75em - 4.375em - 3.75em);
    --site-content-height: calc(100vh - var(--footer-min-height) - var(--navbar-min-height));

        // Buttons Sizes
        --btn-small: 2.5em;
        --btn-medium: 4.2em;
}