
// ************************
//  Font
// ************************
$font-primary: 'Archivo', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// ************************
// Colors
// ************************
$background-color-primary: white; 

// ************************
// Breakpoints
// ************************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
